/* Self-hosted fonts, all SIL OFL 1.1 (license files sit beside each font). Latin subset. */

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/atkinson-hyperlegible/atkinson-hyperlegible-latin-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/atkinson-hyperlegible/atkinson-hyperlegible-latin-700-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/lexend/lexend-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/lexend/lexend-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/opendyslexic/opendyslexic-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/opendyslexic/opendyslexic-latin-700-normal.woff2") format("woff2");
}
